<% include layout/header %>
<div class="cantai" >
<div style="margin-left: 10px;">เดือนนี้คุณมาทำงานแล้ว <%= countDay %></div>
<div style="margin-left: 10px;">ยอดเงินเดือน   <%= m %> บ.</div>
<br>
<% data.forEach(function(data) { %>
<div class="contai-month">
<a class="btn detail btn-month" name-Lastname="<%= session.name %> <%= session.lastName %>" numberPersonnel="<%= session.numberPersonnel %>"
	position="<%= session.position %>" day-month-year="<%= data.day %>/<%= data.month %>/<%= data.year %>" T="<%= data.T %>">
	<div style="float: left;" >วันที่ <%= data.day %></div><br>
	<div style="float: left;">เข้างาน <%= data.T %></div><br>
	<% if (data.Off_T.length > 0) { %>
	<div style="float: left;">ออกงาน <%= data.Off_T %></div>	
	<% } else { %>
	<div style="float: left;"> ลืมบันทึกออกงาน </div>	
	<% } %>		
</a>
</div>
<% }); %>
</div>
<% include modal/detail %> 
<% include layout/footer %>