<% include layout/header %>
<div class="cantai" >
	<h2>เข้างานล่าสุด</h2><br>
    <table class="table table-hover table-bordered">
		<thead class="thead-dark">
		    <tr>
		    	<th >วันที่</th>
		        <th >วัน เดือน ปี</th>
		        <th >เข้างานเวลา</th>
		        <th >ออกงานเวลา</th>
		    </tr>
		</thead>
		<tbody>
		 	<% data.forEach(function(data) { %>
		    <tr class="detail" name-Lastname="<%= session.name %> <%= session.lastName %>" numberPersonnel="<%= session.numberPersonnel %>"
		    position="<%= session.position %>" day-month-year="<%= data.day %>/<%= data.month %>/<%= data.year %>" T="<%= data.T %>">
		    	<td><%= data.day %></td>
			    <td><%= data.day + "/" + data.month + "/" + data.year %></td>
			    <td><%= data.T %></td>
			    <% if (data.Off_T.length > 0 ) { %>
			    <td><%= data.Off_T %></td>
			    <% } else { %>
			    <td>อาจจะลืมบันทึกเวลาออกงาน</td>
			    <% }  %>
		    </tr>
		    <% }); %>  
		</tbody> 
		 
    </table>
</div>
<% include modal/detail %>  
<% include layout/footer %>

