<% include layout/header %>
<div class="cantai" >
	<div style="padding: 10px 0px;  border-radius: 7px; margin-bottom: 10px;"><i class="fas fa-home"></i> / Latest </div>
    <table class="table table-hover table-bordered">
		<thead>
		    <tr>
		    	<th>วันที่</th>
		        <th>วัน เดือน ปี</th>
		        <th>เข้างานเวลา</th>
		        <th>ออกงานเวลา</th>
		    </tr>
		</thead>
		<tbody>
		 	<% data.forEach(function(data) { %>
		    <tr class="detail" name-Lastname="<%= session.name %> <%= session.lastName %>" numberPersonnel="<%= session.numberPersonnel %>"
		    position="<%= session.position %>" day-month-year="<%= data.day %>/<%= data.month %>/<%= data.year %>" T="<%= data.T %>">
		    	<td><%= data.day %></td>
			    <td><%= data.day + "/" + data.month + "/" + data.year %></td>
			    <td><%= data.T %></td>
			    <% if (data.Off_T.length > 0 ) { %>
			    <td><%= data.Off_T %></td>
			    <% } else { %>
			    <td>อาจจะลืมบันทึกเวลาออกงาน</td>
			    <% }  %>
		    </tr>
		    <% }); %>  
		</tbody> 
		 
    </table>
</div>
<% include modal/detail %>  
<% include layout/footer %>

