<% include layout/header %>
<div class="cantai" >
<div style="padding: 10px 0px;  border-radius: 7px; margin-bottom: 10px;"><i class="fas fa-home"></i> / Year </div>
<% data.forEach(function(data) { %>
<div class="contai-month">
<a class="btn detailyear btn-month" style="width: 300px;" name-Lastname="<%= session.name %> <%= session.lastName %>" year="<%= parseInt(data.year) + 543 %>" month="<%= data.month %>" countmonth="<%= data.countmonth %> วัน" pay="<%= session.pay * data.countmonth %> บาท">
	<div style="float: left;">เดือน <%= monthThai[data.month - 1] %></div><br>
	<div style="float: left;">เข้างาน <%= data.countmonth %> วัน</div><br>
	<div style="float: left;">เงิน <%= session.pay * data.countmonth %> บ.</div>		
</a>
</div>
<% }); %>
</div>
<% include modal/detail %>
<% include layout/footer %>